.comment-list {
  margin-bottom: 20px;
  max-height: calc(100vh - var(--user-list-heights) - 50px);
  overflow-y: auto;
  scrollbar-color: var(--secondary-color) var(--white-color);
  scrollbar-width: thin;
}

.comment {
  background-color: var(--light-gray-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
